body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0px;
}

.market-hd{
    display: flex;
    background-image: linear-gradient(to right, goldenrod,khaki);
    height: 150px;
}

.market-hd img{
    height: 150px;
    width: 300px;
}

.market-hd h1{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.market-hd p{
    text-align: center;
    margin-top: 0px;
    font-style: italic;
}

.half-width{
    width: 50%;
}
.left-image{
    float: right;
}

.food-about{
    display: flex;    
}
.food-about div{
    margin-left: 35px;    
}

.food-about h2{
    display: inline-block;
    font-size: 30px;
    margin-top: 100px;
}
.food-about img{
    height: 100%;
    width: 100%;
}

.highlight{
    color: green;
}

.button-style{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 18px;
    background-image: linear-gradient(to right,green,yellow);

}

#back-image{
    background-image: url("../images/Shape/background.png");
    background-size: cover;
}

#text-margin{
    margin-right: 150px;
}

.recipe-intr{
    margin-left: 30%;
    width: 40%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    
}

.recipe{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.recipe div{
    margin-left: 2%;
    margin-right: 2%;
    width: 26%;
    padding: 15px;
    box-shadow: 0px 0px 10px 12px rgb(207, 203, 203);
    border-radius: 20px;
}

.recipe img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 280px;
    border-radius: 10%;
    
}

.msn-style{
    background-image: url(../images/recipe/recipe-elements.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    border-left: 10px solid;
    border-radius: 0px 25px 25px 0px;
    border-image: linear-gradient(yellow,green);
    border-image-slice: 1;
    box-shadow: 10px 10px 10px grey;
    text-align: left;
    padding: 20px 15px 15px 15px;
}

.msn-style div{
    width: 55%;
}
.msn-style h2{
    text-align: center;
}

.foot-style{
    text-align: center;
    color: white;
    background-color: rgb(55, 33, 33);
    padding-top: 10px;
    padding-bottom: 15px;
}

.foot-style p{
    font-size: 15px;
}

#color{
    color:chartreuse;
}